src/maps/mvv_gtfs/
src/maps/shp/
src/maps/graphML/gdf_*
src/maps/graphML/*.graphml
__pycache__/
.idea/
*.pyc
jupyter/cache/
src/a_star/data/exp*
src/a_star/data/beta*
src/a_star/data/route*
src/a_star/data/user*
src/a_star/prep_dataframes/G_all*
src/a_star/prep_dataframes/all*
src/a_star/prep_dataframes/dist*
src/a_star/prep_dataframes/lst*
src/a_star/prep_dataframes/sel*
src/a_star/prep_dataframes/trg*
src/a_star/prep_dataframes/min*
src/a_star/prep_dataframes/prep*